<div>
    <div>
        <span>
            <label>Score</label>
            <label>Bolters</label>
        </span>
    </div>
    <div>
        <span>
            <%= player.alias %>
                <input type="number" class="input score hand-<%= handNumber %>"
                    name="score<%= handNumber %>_<%= playerIndex %>" id="score<%= handNumber %>_<%= playerIndex %>">
                <input type="number" class="input bolters hand-<%= handNumber %>"
                    name="bolters<%= handNumber %>_<%= playerIndex %>" id="bolters<%= handNumber %>_<%= playerIndex %>">
        </span>
    </div>
</div>