<div>
    <div>
        <span>
            <label>Score</label>
            <label>Bolters</label>
        </span>
    </div>
    <div>
        <span>
            <input type="number" class="input score hand-<%= handNumber %>" name="score<%= handNumber %>"
                id="score<%= handNumber %>">
            <input type="number" class="input bolters hand-<%= handNumber %>" name="bolters<%= handNumber %>"
                id="bolters<%= handNumber %>">
        </span>
    </div>
</div>