<form id="selectTeamForm" action="/fixtures/scorecard/new/team" method="POST">
<h2>Select team</h2>
<div>
    <span>
        <label>Player 1 - </label>
        <select name="player">
        <%- include('_playerDropdown.ejs') %>
        </select>
    </span>
    </div>
    <div>
    <span>
        <label>Player 2 - </label>
        <select name="player">
        <%- include('_playerDropdown.ejs') %>
        </select>
    </span>
    </div>
    <div>
    <span>
        <label>Player 3 - </label>
        <select name="player">
        <%- include('_playerDropdown.ejs') %>
        </select>
    </span>
    </div>
    <div>
    <span>
        <label>Player 4 - </label>
        <select name="player">
        <%- include('_playerDropdown.ejs') %>
        </select>
    </span>
    </div>
    <div>
    <span>
        <label>Player 5 - </label>
        <select name="player">
        <%- include('_playerDropdown.ejs') %>
        </select>
    </span>
    </div>
    <div>
    <span>
        <label>Player 6 - </label>
        <select name="player">
        <%- include('_playerDropdown.ejs') %>
        </select>
    </span>
    </div>
    <div>
    <span>
        <label>Player 7 - </label>
        <select name="player">
        <%- include('_playerDropdown.ejs') %>
        </select>
    </span>
    </div>
    <div>
    <span>
        <label>Player 8 - </label>
        <select name="player">
        <%- include('_playerDropdown.ejs') %>
        </select>
    </span>
    </div>
</div>
<div class="button-container">
    <button type="submit">Submit</button>
</form>